*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;    
}

body{
    font-family: 'Poppins';
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
}

.row .imgWrapper{
    overflow: hidden;
}

.row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3%;
}

.row .imgWrapper img{
    transform: scale(1.25);
}

.row .contentWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.row .contentWrapper span.textWrapper{
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.row .contentWrapper span.textWrapper span{
    display: inline-block;
    background: #383f47;
    width: 70px;
    height: 5px;
}

.row .contentWrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: #383f47;
    padding-bottom: 20px;
}
