                



html {
  font-family: var(--ff-nunito-sans);
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  overflow-x: hidden;
}











/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: relative;
  z-index: 2;
}

.navbar {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: -310px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
  z-index: 5;
  padding: 60px 20px;
  visibility: hidden;
  transition: 0.15s ease-in;
}


.logo img{
  height:50px;
}

.navbar-link {
  color:#fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-block: 15px;
}

.navbar-link:hover,
.navbar-link:focus { color: #05483A; }
.header {
  position: relative;
  z-index: 2;
}

.navbar {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: -310px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
  z-index: 5;
  padding: 60px 20px;
  visibility: hidden;
  transition: 0.15s ease-in;
}

.logo img {
  height: 50px;
}

.navbar-link {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-block: 15px;
}

.navbar-link:hover, .navbar-link:focus { color: #05483A; }














  @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
body{

}







img.harta{
  width: 1250px;
  height: 600px;
}


form{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #05483A;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
}

        h2 {
            color:white;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color:white;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            background-color:white;
            color: black;
            border: 1px solid white;
            border-radius: 5px; 
        }

        textarea {
            height: 150px;
        }

        button {
            background-color: white;
            color: #black;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background-color: black;
            color: white;
        }







.lorita {
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}



@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col {
    width: 100%;
  }
}




.footer{
    background-color: #ededed;
    padding: 70px 0;
     font-family: "Quicksand", sans-serif;
     
}
.footer1{
   width: 25%;
   padding: 0 15px;
}
.footer1 h4{
    font-size: 18px;
    color: #05483A;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
}
.footer1 h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #FFD17D;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer1 ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer1 ul li {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #5d737e;
    display: block;
    transition: all 0.3s ease;
}
.footer1 ul li a{
  color:#5d737e;
  font-weight: 555;
}
.footer1 ul li a:hover{
    color: #8bb1b1;
    padding-left: 8px;
    transition: all 0.3s ease;
}
.footer1 .social-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #071a1d;
    margin:0 10px 40px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    color: #fde6a8;
}

.footer1 .social-links a:hover{
    color: #24262b;
    background-color: #fde6a8;
}
i{
  font-size:  27px;
  margin-top: 10px;
}
body {
  background-color: #ededed;
}