

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
button,
 { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

html {
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  overflow-x: hidden;
}



.container { padding-inline: 15px; }

button, a { transition: 0.25s ease; }

.h1,
.h2,
.h3 {
  color: #1a2c23;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

.h1 {
  font-size: 75px;
  line-height: 1;
}

.h2 { font-size: 30px; }

.h3 {
  font-size: 20px;
  font-weight: 700;
}

.h3 > a { color: inherit; }

.btn {
  position: relative;
  background: #05463A;
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: capitalize;
  border: 1px solid #fff;
  padding: 10px 20px;
  z-index: 1;
}

.btn:hover,
.btn:focus {
  background: #000000;
  color: #fff;
  border-color: #000000;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: 0.25s ease;
  z-index: -1;
}

.btn:hover::before,
.btn:focus::before { width: 100%; }

.w-100 { width: 100%; }

.section-subtitle {
  color: #ff9e00;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  background: hsla(9, 100%, 62%, 0.2);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}




.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}






.header {
  position: relative;
  z-index: 2;
}

.navbar {
  background: #f8f9fa; /* Light background color */
  position: fixed;
  top: 0;
  left: -310px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
  z-index: 5;
  padding: 60px 20px;
  visibility: hidden;
  transition: 0.15s ease-in;
}

.logo img {
  height: 50px;
}

.navbar-link {
  color: #333; 
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding-block: 15px;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #05483A;
}


.navbar.open {
  left: 0;
  visibility: visible;
}

.nav-close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}




.hero {
  background: #ededed;
  padding-block: 100px;
}

.hero-content { margin-bottom: 60px; }

.hero-subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}




.hero-title { margin-bottom: 20px; }

.hero-text {
  color: #5d737e;
  font-size: var(--fs-5);
  line-height: 1.8;
  padding-left: 15px;
  border-left: 1px solid;
  margin-bottom: 30px;
}




.service {
  background-image: url("../images/1.0.jpeg");
  padding-block: 100px;
  opacity: 1.5;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service-card {
  position: relative;
  background: #ffffff;
  text-align: center;
  padding: 40px 30px;
}

.service-card .card-title { margin-bottom: 15px; }

.service-card .card-title > a:is(:hover, :focus) { color: #ff5a3d }


.service-card .card-link {
  color: #8bb1b1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
i{
  font-size:  27px;
  margin-top: 10px;
}
.service-card:is(:hover, :focus)::after { width: 100%; }



.property { padding-block: #f2f2f2; 
margin-top: 100px;
margin-bottom: 100px;}

.property-card {
  border: 1px solid #f0f8ff;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
}

.property-card .card-banner {
  position: relative;
  aspect-ratio: 2 / 1.5;
  overflow: hidden;
}

.property-card .card-banner a { height: 100%; }

.property-card .card-banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.property-card:hover .card-banner img { transform: scale(1.1); }

.property-card .card-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95), transparent 30%);
  pointer-events: none;
  z-index: 1;
}


.property-card .card-content {
  padding: 30px 15px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-price {
  color: #2a6d60;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  margin-bottom: 5px;
}

.card-price strong {
  font-size: 30px;
  font-weight: 600;
}

.property-card .card-title {
  margin-bottom: 15px;
}



.property-card .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 15px;
}

.property-card .card-item {
  padding-block: 5px;
  color: #ca6b0b;
  font-size: 0.875rem;
}

.property-card .card-item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.property-card .card-item span { margin-top: 5px; }

.slider1{
  background: #111010;
  position: relative;
height: 80vh;
    overflow: hidden;
    ;
}
.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;}
.container1{
    max-width: 1170px;
    margin:auto;
}

.wrapper{
  
  max-width:auto;
  position: relative;
  background-color:#fff;
  margin-bottom: 150px;
}

.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
   z-index: 1;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: 50px;
  display: translateY(-50%);

}
.wrapper i:last-child{
  right: 50px;
}
.wrapper .slider{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.slider.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.slider.dragging img{
  pointer-events: none;
}
.slider img{
  height: 75vh;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
  ;

}
.slider img:first-child{
  margin-left: 0px;
}

.footer{
    background-color: #ededed;
    padding: 70px 0;
     font-family: "Quicksand", sans-serif;
     
}
.footer1{
   width: 25%;
   padding: 0 15px;
}
.footer1 h4{
    font-size: 18px;
    color: #05483A;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
}
.footer1 h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #FFD17D;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer1 ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer1 ul li {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #5d737e;
    display: block;
    transition: all 0.3s ease;
}
.footer1 ul li a{
  color:#5d737e;
  font-weight: 555;
}
.footer1 ul li a:hover{
    color: #8bb1b1;
    padding-left: 8px;
    transition: all 0.3s ease;
}
.footer1 .social-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #071a1d;
    margin:0 10px 40px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    color: #fde6a8;
}

.footer1 .social-links a:hover{
    color: #24262b;
    background-color: #fde6a8;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


@media (min-width: 600px) {


  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .has-scrollbar > li { min-width: calc(50% - 12.5px); }


  .service-list > li { width: calc(50% - 15px); }

  .property .container {
    max-width: unset;
    padding-inline: 25px;
  }




@media (min-width: 768px) {


  .container { max-width: 720px; }

  .btn {
    --fs-5: 1rem;
    padding: 12px 28px;
  }



  /**
   * HEADER
   */

  .header-top { padding-block: 5px; }

  .header-top .wrapper { margin-left: auto; }

  .header-top-social-list { gap: 12px; }

  .header-top-social-link { font-size: 1rem; }

  .header-top-btn { padding: 10px 20px; }

  .header-bottom-actions {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-bottom-actions-btn ion-icon { margin-bottom: 0; }

  .header-bottom-actions-btn span { display: none; }

  .header-bottom-actions-btn {
    background: #ffffff;
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow-2);
  }



  .container { max-width: 970px; }

  .btn { padding: 15px 40px; }



  /**
   * HEADER
   */

  .header-top-list,
  .header-top .wrapper { gap: 30px; }



  /**
   * HERO
   */

  .hero-content {
    max-width: unset;
    margin-bottom: 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }






  /**
   * SERVICE
   */

  .service-list > li { width: calc(33.33% - 20px); }



  /**
   * PROPERTY
   */

  .property-card .card-content { padding-inline: 30px; }

  .card-footer { padding: 20px 30px 30px; }



  /**
   * FEATURES
   */

  .features-list { column-gap: 30px; }

  .features-list > li { width: calc(25% - 30px); }




@media (min-width: 1200px) {


  .container { max-width: 1200px; }

  .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }


  .header-bottom { padding-block: 30px; }

  .header-bottom-actions-btn:last-child,
  .navbar-top,
  .overlay { display: none; }

  .navbar,
  .navbar.active { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar-link {
    color: #071a1d;
    --fs-5: 1.125rem;
    text-transform: capitalize;
  }

  .header { padding-bottom: 114px; }

  .header-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .header.active .header-bottom {
    position: fixed;
    bottom: auto;
    top: -94px;
    padding-block: 20px;
    box-shadow: 0 10px 50px hsla(237, 71%, 52%, 0.2);
    animation: slideDown 0.25s ease-out forwards;
  }



  .hero-text {
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
  }




